{% extends 'base.html.twig' %}

{% block title %}Liste des questions
{% endblock %}

{% block body %}
	<style></style>
	<div class="jumbotron">
		<div class=" mx-5">

			<div class="accordion" id="accordionEtude">
				{% for bloc in blocs %}
					<div class="card">
						<div class="card-header row align-items-center justify-content-between bg-secondary text-white" id="heading{{ bloc.id }}">
							<h2 class="mb-0">
								<button class="btn btn-link btn-block text-left bg-secondary text-white" type="button" data-toggle="collapse" data-target="#collapse{{ bloc.id }}" aria-expanded="true" aria-controls="collapse{{ bloc.id }}">
									{{ bloc.NomBloc }}
								</button>
							</h2>
							{# <span class="material-icons text-primary mr-2">check</span> #}
						</div>
						<div id="collapse{{ bloc.id }}" class="collapse" aria-labelledby="heading{{ bloc.id }}" data-parent="#accordionEtude">
							<div class="card-body">
								<table class="table table-secondary table-striped">
									{% for question in questions %}
										{% if bloc.id == question.bloc%}
											<tr>
												<td style="width:70%">{{ question.question }}</td>
												<td style="width:30%" class="text-center">
													<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
														<input type="radio" class="btn-check" name="btnradio{{ question.id }}" id="btnradio1{{ question.id }}" autocomplete="off">
														<label class="btn btn-outline-primary" for="btnradio1{{ question.id }}">1</label>

														<input type="radio" class="btn-check" name="btnradio{{ question.id }}" id="btnradio2{{ question.id }}" autocomplete="off">
														<label class="btn btn-outline-primary" for="btnradio2{{ question.id }}">2</label>

														<input type="radio" class="btn-check" name="btnradio{{ question.id }}" id="btnradio3{{ question.id }}" autocomplete="off">
														<label class="btn btn-outline-primary" for="btnradio3{{ question.id }}">3</label>

														<input type="radio" class="btn-check" name="btnradio{{ question.id }}" id="btnradio4{{ question.id }}" autocomplete="off">
														<label class="btn btn-outline-primary" for="btnradio4{{ question.id }}">4</label>
													</div>
												</td>
											</tr>
										{% endif %}
									{% endfor %}
								</table>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
